/* //Author: Mahad Osman
//Exercise: Connect four project
//Date: Oct 12, 2022
//References: 
- Springboard Connect Four solution for findSpotCol(x) & how to handle a tie & length key in makeBoard
- how to animate a piece drop down: https://stackoverflow.com/questions/48352599/dropping-token-animations-on-a-connect-four-board
Possible to do: add animation! and change the pieces to be postioned absolutley*/

/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%; /* to round our pieces*/
  /*position: absolute;*/
}

.player1{
  background-color: red;
}

.player2{
  background-color: blue;
}

/* The following code was implemented from a reference */
.dropPiece{
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
    from{
      transform: translateY(-500px);
    }
    to{
      transform: translateY(0);
    }
}
/**********************************************************/



/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
